.plugin #providers .provider #button_battlenet {
    color: #f1af51;
}
.plugin #providers .provider#provider_battlenet:hover #button_battlenet {
    background-color: #f1af51;
}
.plugin #providers .provider .name#name_battlenet {
    border-left: none;
    color: #f1af51;
}
.plugin #providers .provider#provider_battlenet:hover .name#name_battlenet {
   color: #fff;
}
div#name_battlenet:before {
    content: "Login Via ";
}
